body {
  margin: 0;
  font-family: system-ui, Arial, sans-serif;
  background-color: #242424;
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  text-align: center;
}